
html, body {
    height: 100%;
    margin: 0;
  }
  
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
  }
 .img{
      display: flex;
      height: 100px;
      width: 200px;
      


 }
  .btn{

    display: flex;
    justify-content: right;
    border-radius: 22px;
    color: rgb(0, 255, 8); 
    
  }

    .btn2{
      display: flex;
      justify-content: left;
      border-radius: 22px;
      color: rgb(0, 255, 8); background-color: rgb(123, 2, 2);
      border-style: dashed;padding: 1vw; border-color: rgb(67, 42, 165); font-size: large; font-weight: 200;   
     }


img {
  display: block; 
  width: 100%; 
  height: auto; 

}
  header{

  height: auto;
  background-color: green;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #555;
  transition: background-color 0.3s ease;
}
.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.navbar ul li a:hover {
  background-color: #555;
}

  

  main {
    padding: 20px;
  }
  
  section {
    font-size: large;
    margin-bottom: 40px;
    color: rgb(236, 236, 236);
  }
  
  form {
    max-width: 400px;
    margin: auto;
  }
  
  label,
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  .navbar{
    padding: 4px;
    margin-top: 4px;
  }
  .a1{
    margin-top: 10px;
    padding-top: 10px;
  }
  .i1{
    display: flex;
    align-items: center;
  }
  .imag{
    margin: 8px;
    height: 300px;
    width: 600px;
  }
  p{
    font-size: large;
  }
  